$PAGE-BACKGROUND: #151515;
$AREA-BACKGROUND-COLOR: #272727;
$HEADER-BORDER-COLOR: #e8774a;
$MAIN-COLOR: #dddddd;
$LINK-COLOR: #b0b0b0;

$MEDIUM: "all and (min-width: 650px)";
$LARGE: "all and (min-width: 900px)";
